:root {
  --font-size: 20px;
  --font-family: 'brandon-grotesque', arial, helvetica, serif;
  --color-baby-blue: #5aa9f8;
  --color-red: #ff4b4b;
  --color-grey-light: #cccccc;
  --color-grey: #9c9c9c;
  --color-grey-dark: #212121;
  --color-green: #93d14a;
  --color-white: #ffffff;
  --max-width: 600px
}
body, div, header, main, footer, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-position: top center;
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-grey-dark);
  color: var(--color-grey-light);
  margin: 0;
  padding: 1rem;
  height: 100%;
}

h1 {
  font-size: 2.5rem
}
h2 {
  font-size: 2.2rem
}
h3 {
  font-size: 1.9rem
}
h4 {
  font-size: 1.5rem
}
header,
footer,
section {
  text-align: center;
  max-width: var(--max-width);
  margin: auto
}

header img {
  max-width: 100%;
}

menu {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}
menu a {
  margin: 0 .5rem;
}
main {
  font-size: calc(var(--font-size) + 6px);
  max-width: var(--max-width);
  margin: auto
}

a {
  transition: all .25s linear;
  text-decoration: none;
  color: var(--color-baby-blue);
  text-shadow: 0 1px 2px rgba(0,0,0,.35);
}

section.twitter {
  padding: 1rem
}

.box.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.box.nav {
  display: flex;
  flex-flow: row nowrap;
  border-radius: .5rem;
  padding: .1rem;
  gap: 3px;
}

.box.books .href {
  flex: 1 30%;
  padding: 2rem 0;
}
.box.nav .href {
  flex: 1;
  padding: 1rem 0;
  padding: .5rem;
  font-size: 1rem;
}
.box.books .href,
.box.nav .href {
  text-align: center;
  border: 1px solid var(--color-grey);
  background-color:transparent;
  border-radius: .5rem;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.box.books .href:visited,
.box.nav .href:visited {
  color: var(--color-red);
}

.box.books .href:hover,
.box.nav .href:hover {
  color: var(--color-green);
  border-color: var(--color-grey-dark);
  box-shadow: 0 3px 4px rgba(0,0,0,.25);
}

.box.books .href:active,
.box.nav .href:active {
  color: var(--color-red);
  box-shadow: 0 0px 1px rgba(0,0,0,.5);
}

.box.book .number-item {
  display: flex;
  flex: row nowrap;
  padding: 5px 0;
}

.box.book .number-item::before {
  content: attr(data-label);
  display: inline-block;
  min-width: 50px;
}
.item {
  padding: .25rem;
  display: flex;
}
.item .label {
  flex: 0 50px;
  text-align: right;
  padding-right: .5rem;
}
.item .value {
  flex: 1 auto;
}

section.share {
  padding-top: 2rem;
}
section.share .discord {
  visibility: hidden;
  display: none;
}
section.info p {
  text-align: left;
  font-size: 1.25rem;
}

main .href {
  display: block;
}
