:root {
  --font-size: 14px;
  --font-family: 'brandon-grotesque', arial, helvetica, serif;
}
body, div, header, main, footer {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0
  height: 0
}

header {
  text-align: center;
}
main {
  font-size: calc(var(--font-size:) + 10px);
  max-width: 600px;
  margin: auto
}

footer {
  text-align: center;
}
