:root {
  --font-size: 14px;
  --font-family: 'brandon-grotesque', arial, helvetica, serif;
  --color-baby-blue: #00b4ff;
  --color-red: #ff4b4b;

}
body, div, header, main, footer {
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-size: 100% auto;
  background-position: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0
  height: 0
}

header {
  text-align: center;
}
main {
  font-size: calc(var(--font-size) + 10px);
  max-width: 600px;
  margin: auto
}

footer {
  text-align: center;
}

.feecting-box.nav {
  display: flex;
  flex-flow: row nowrap
}
.feecting-box.nav .href {
  flex: 1;
  padding: .5rem
}
.feecting-box.nav .href a {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  color: var(--color-baby-blue);
}
.feecting-box.nav .href:nth-child(2) {
  text-align:right;
}

.item {
  padding: .25rem;
  display: flex;
}
.item .label {
  flex: 0 50px;
  text-align: right;
  padding-right: .5rem;
}
.item .value {
  flex: 1 auto;
}
