:root {
  --font-size: 14px;
  --font-family: arial, helvetica, serif;
  --color-baby-blue: #5aa9f8;
  --color-red: #ff4b4b;
  --color-grey: #9c9c9c;
  --color-green: #93d14a;
  --max-width: 600px
}
body, div, header, main, footer {
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0
  height: 0
}

header,
footer,
section.twitter {
  text-align: center;
  max-width: var(--max-width);
  margin: auto
}

main {
  font-size: calc(var(--font-size) + 10px);
  max-width: var(--max-width);
  margin: auto
}

section.twitter {
  padding: 1rem
}

.feecting-box.nav {
  display: flex;
  flex-flow: row nowrap;
  border-radius: .5rem;
  padding: .1rem;
}

.feecting-box .href {
  transition: all .5s linear;
  flex: 0 60px;
  text-align: center;
  padding: .5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-baby-blue);
  text-shadow: 0 1px 2px rgba(0,0,0,.35);
}
.feecting-box.nav .href:nth-child(2) {
  flex: 1;
}
.feecting-box .href:visited {
  color: var(--color-red);
}
.feecting-box .href:hover {
  color: var(--color-green);
  text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.feecting-box .href:active {
  color: var(--color-red);
  text-shadow: 0 0px 1px rgba(0,0,0,.15);
}

.feecting-box.hymn .number-item {
  padding: 5px 0;
}

.feecting-box.hymn .number-item::before {
  content: attr(data-label);
  display: inline-block;
  min-width: 50px;
}
.item {
  padding: .25rem;
  display: flex;
}
.item .label {
  flex: 0 50px;
  text-align: right;
  padding-right: .5rem;
}
.item .value {
  flex: 1 auto;
}
